/* || Typography */
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;700;900&display=swap");

/* || General styles */
:root {
  --dark-blue: #4d96a9;
  --dark-purple: #855fb1;
  --dark: #28283d;
  --gray: #87879d;
  --light-blue: #8fe3f9;
  --light-purple: #d9b8ff;
  --white: rgb(250, 250, 250);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Red Hat Display", sans-serif;
  font-size: 18px;
  line-height: 26px;
  line-height: 1.5;
  color: var(--dark);
  background: var(--white);
}

img {
  max-width: 100%;
}

h1 {
  font-size: 64px;
  line-height: 64px;
  font-weight: 900;
}

h2 {
  font-size: 40px;
  line-height: 44px;
  font-weight: 900;
}

/* || Utilities */
.text-light-blue {
  color: var(--light-blue);
}

.text-light-purple {
  color: #d2b2f6;
}

/* || Buttons */
.btn {
  color: var(--white);
  display: block;
  min-width: 135px;
  padding: 16px 40px;
  font-size: 16px;
  font-weight: bold;
  line-height: 14px;
  border: none;
  border-radius: 29px;
  cursor: pointer;
}

.btn-primary {
  background: var(--dark-blue);
  transition: 0.7s;
}

.btn-primary:hover {
  background: #74c0d3;
  transition: 0.7s;
}

.btn-secondary {
  background: var(--dark-purple);
  transition: 0.7s;
}

.btn-secondary span {
  transition: 0.7s;
}

.btn-secondary:hover {
  background: var(--light-purple);
  transition: 0.7s;
}

.btn-secondary:hover span {
  color: white;
  transition: 0.7s;
}

/* || Loader */
#loading-screen {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  background-color: white;
}

.loading-icon {
  border: 5px solid #f3f3f3;
  border-top: 5px solid black;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  animation: loaderSpin 1.2s linear infinite;
  z-index: 100;
}

/* || Logo */
.logo {
  display: block;
  margin: 48px auto;
  width: 119px;
}

/* || Main */
.sm-hero-img {
  width: 414px;
  display: block;
  margin: 0 auto;
}

.lg-hero-img {
  display: none;
}

.hero-content {
  text-align: center;
}

.hero-content h1 {
  font-size: 40px;
  line-height: 44px;
  margin: 48px auto 24px auto;
}

.hero-content p {
  font-size: 16px;
  line-height: 26px;
  margin: 24px;
  color: var(--gray);
}

.hero-content button {
  margin: 0 auto 16px auto;
}

.seperator {
  border-radius: 50%;
  background-color: white;
  border: 1px solid #dddde2;
  width: 60px;
  height: 60px;
  display: block;
  text-align: center;
  margin: 140px auto 60px auto;
  color: var(--gray);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.seperator .line {
  border: 1px solid #dddde2;
  height: 80px;
  position: relative;
  top: -70px;
  right: -13px;
}

/* || Blogs */
.blogs {
  text-align: center;
  padding: 25px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery img {
  dipslay: block;
  border-radius: 25px;
  width: 50%;
  padding: 10px;
  transition: 0.7s;
}

.gallery img:hover {
  transform: translateY(-15px);
  transition: 0.7s;
  cursor: pointer;
}

.overline {
  display: block;
  font-size: 16px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: var(--dark-blue);
  margin: 64px auto 24px auto;
}

.blogs h2 {
  font-size: 32px;
  line-height: 36px;
  margin-bottom: 32px;
}

.blogs p {
  font-size: 16px;
  line-height: 26px;
  color: var(--gray);
}

/* || Footer */
.seperator-2 {
  position: relative;
  top: 100px;
  margin: 30px auto 70px auto;
}

footer {
  box-shadow: inset 0 0 0 1000px rgba(77, 150, 169, 0.8);
  background: url("./assets/mobile/image-footer.jpg");
  background-position: top;
  text-align: center;
  color: var(--white);
  padding: 92px 24px;
}

footer h3 {
  font-size: 32px;
  line-height: 36px;
  font-weight: 900;
}

footer p {
  font-size: 18px;
  line-height: 26px;
  margin: 24px;
}

footer .btn {
  margin: 8px auto 0px auto;
}

/* || Medium Devices */
@media (min-width: 768px) {
  h1 {
    font-size: 64px;
  }

  main .hero-img {
    width: 820px;
  }

  main h1 {
    font-size: 48px;
    line-height: 48px;
  }

  .hero-content p {
    font-size: 16px;
    line-height: 26px;
    width: 457px;
    text-align: center;
    display: block;
    margin: 24px auto;
  }

  .hero-content .btn {
    display: inline;
    margin-right: 10px;
  }

  .seperator {
    margin: 180px auto 100px auto;
  }

  .gallery img {
    width: 25%;
  }

  .overline {
    margin: 48px auto 16px auto;
  }

  .seperator-2 {
    margin: 80px auto 70px auto;
  }

  footer {
    background: url("./assets/tablet/image-footer.jpg");
    background-size: cover;
    padding: 95px;
  }

  footer h3 {
    font-size: 40px;
    line-height: 44px;
    width: 457px;
    margin: 0 auto;
  }

  footer p {
    font-size: 18px;
    line-height: 26px;
    width: 573px;
    margin: 24px auto 40px auto;
  }
}

/* || Large Devices */
@media (min-width: 1440px) {
  .logo {
    margin-top: 80px;
    margin-bottom: 61px;
  }

  .sm-hero-img {
    display: none;
  }

  .lg-hero-img {
    display: block;
    width: 400px;
  }

  .hero-content {
    width: 540px;
    margin: 0 88px;
  }

  .hero-content h1 {
    font-size: 64px;
    line-height: 64px;
  }

  .hero-content p {
    font-size: 18px;
    line-height: 26px;
  }

  main {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .seperator {
    margin: 180px auto 80px;
  }

  .gallery {
    width: 1110px;
    margin: 0 auto;
  }

  .blogs p {
    font-size: 18px;
    line-height: 26px;
    width: 540px;
    margin: 32px auto 0 auto;
  }

  .seperator-2 {
    margin: 70px auto 80px;
  }

  footer {
    display: flex;
    align-items: center;
    justiy-content: space-between;
    padding: 116px 165px;
    text-align: left;
  }

  footer h3 {
    margin: 0;
  }

  footer p {
    width: 350px;
    margin: 0 auto;
  }

  footer .btn {
    margin: 0;
    margin-left: auto;
  }
}

/* || Animations */
@keyframes wavyAnimation {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-10px);
  }
}

@keyframes loaderSpin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.wavyAnimation {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wavyAnimation span {
  position: relative;
  display: inline-block;
  animation: wavyAnimation 2s infinite;
  animation-delay: calc(0.1s * var(--i));
}
